//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
        &kp Q  &kp W  &kp F            &kp P      &kp B    &kp J   &kp L                 &kp U      &kp Y    &kp SQT
        &kp A  &kp R  &kp S            &kp T      &kp G    &kp M   &kp N                 &kp E      &kp I    &kp O
&trans  &kp Z  &kp X  &kp C            &kp D      &kp V    &kp K   &kp H                 &kp COMMA  &kp DOT  &kp LS(QMARK)  &trans
                      &lt 1 BACKSPACE  &kp SPACE  &mo 1    &trans  &mt LEFT_SHIFT ENTER  &trans
            >;

            label = "1";
        };

        Secondary {
            bindings = <
        &kp N1     &kp N2    &kp N3        &kp N4      &kp N5           &kp N6         &kp N7        &kp N8        &kp N9        &kp N0
        &kp MINUS  &kp SEMI  &kp PLUS      &kp EQUAL   &kp LS(UNDER)    &kp LS(COLON)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(LBRC)  &kp MINUS
&trans  &kp GRAVE  &kp STAR  &kp LS(EXCL)  &kp LS(LT)  &kp LS(GT)       &kp FSLH       &kp LBKT      &kp RBKT      &kp BSLH      &kp LS(RET)  &trans
                             &trans        &trans      &trans           &trans         &trans        &trans
            >;

            label = "2";
        };

        Functions {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
